<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sec-struct</title>
</head>
<body>
    <p> For demo1 use</p> 
    <p> GGUGCUGUUAUCCAUUUCAGAAUUGGGUGUCGACAUAGCACC</p>  
    <p> For demo2 use</p> 
    <p> CGGAGGAACUACUGUCUUCACGCGCGUGUCGUGCAGCCUCCG</p>  
    <p> For demo3 use</p> 
    <p> GGACUAGCGGAGGCUAGUCC</p>  
<form method="post">
<!---    <textarea rows="4" cols="100" name="seq" placeholder="CGGAGGAACUACUGUCUUCACGCGCGUGUCGUGCAGCCUCCG"  style="resize:none" required></textarea> -->
    <input type="string"  name="seq" placeholder="copy and paste here" size=150" />
    <input type="submit">
</form>
<!--- <p>Resuult: {{ result }}</p>  -->
<p><pre>{{ result }}</pre></p>
</body>
</html>
